<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <div class="">
        <h1 class="text-center text-3xl" style="margin: 20px 0 20px 0;">Selamat Datang Di applikasi contact list</h1>
        <div class="w-100 flex justify-center" style="padding: 22px 0;">
            <a href="/contact" class="bg-blue-500 rounded-md outline-none px-3 py-2 text-white hover:bg-blue-600">
                Lihat Contact
            </a>
        </div>
    </div>
</body>
</html>